shamefully-hoist=true

@leagueakari:registry=https://npm.pkg.github.com
@leaguetavern:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/